@import url(padrao.css);

* {
    margin: 0;
}

/* Configurações do site inteiro */

body {
    background-color: var(--cor-padrao);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;
    /* margin-left: 13vw; */
}

.ignorar-margin {
    margin: 0 -13vw;
}

h1 {
    font-size: 9rem;
    font-family: UrbanGrafite;
}

.titulo {
    text-align: center;
    width: fit-content;
}

/* .titulo * {
    display: inline;
} */

.titulo > .background {
    background: linear-gradient(180deg, var(--cor-destaque-laranja) 0%, rgba(57,57,57,1) 100%);
    background-clip: text;
    color: transparent;
    z-index: 1;
    display: inline;
    /* text-shadow: 1px 1px 1px black; */
    /* animation: balatroShake 0.7s 1; */
}

/* Nav Bar Inicio */

nav {
    background-color: var(--cor-acao-vermelho);
    color: white;
    width: 100%;
    display: flex;
    padding: 1vh 0;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    font-weight: bold;
}

nav img {
    left: 1%;
    top: 1%;
    height: 6vh;
    position: relative;
}

nav ul li a {
    height: fit-content;
    color: var(--cor-padrao);
}

nav ul {
    height: fit-content;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 7.813vw;
    width: 100%;
    padding: 0;
    margin: 0 13vw;
}

/* Nav Bar Fim */

/* Header Início */

header {
    width: calc(100% + 13vw);
    background-image: url(../Imagens/historia/banner_header.png);
    background-repeat:repeat-x;
    background-position-x: 50%;
    
}

.imagem-header {
    width: 100%;
    height: 50svh;
    display: flex;
    justify-content: center;

    backdrop-filter: blur(5px);

}

.imagem-header  img {
    left: 50%;
    position: absolute;
    height: inherit;
    transform: translate(-50%, 0);
}

/* Header Fim */

section {
    margin: 5vh 13vw;
}

/* Footer Início */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0;
    z-index: 10;
    position: relative;
    background-color: color-mix(in srgb, var(--cor-acao-vermelho) 50%, transparent 50%);
    width: 100vw;
}

.footer-texto {
    font-size: 16px;
    width: auto;
    margin-left: 30%;
}

.footer-logo img {
    height: 100px; 
    width: auto;
    /* margin-right: 50%; */
}

.footer-logo {
    /* height: 100px; 
    width: auto; */
    margin-right: 3%;
}

/*O que é Inicio */

#oquee > .titulo {
    width: 100%;
}

/* O que é Fim */

/* Footer Fim */


/* Movimentos inicio */

#movimentos {
    margin-top: var(--dist-xl); ;
    width: 80vw;
}

#movimentos .titulo {
    text-align: left;
    margin-bottom: var(--dist-xl)
}

#movimentos #timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
    width: fit-content;
    margin-top: -1vh;
    margin-bottom: var(--dist-xm);
    align-items: center;
    color: #898989;
    font-size: var(--tamanho-texto-menor);
    font-style: italic;   
}

#timeline h3 {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    cursor: pointer;
}

/* Movimentos inicio */

#movimentos > * {
    transition: 1s all;
}

#movimentos .selected {
    color: var(--cor-texto-padrao);
    font-size: var(--tamanho-texto-subtitulo);
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;   
    min-height: 3rem;
}

#movimentos .textos {
    width: 40vw;
    text-align: left;
}

#movimentos .imagens {
    margin-top: var(--dist-xm);
    gap: 4vw;
    display: flex;
}

#movimentos .imagens #hero-movimento {
    position: absolute;
    right:0;
    width: 40vw;
    height: auto;
    transform: translate(0, -55%);
    z-index: -2;
}

#movimentos .textos p::first-letter {
    font-size: 2rem;
    font-family: UrbanGrafite;
}

/* Movimentos fim */


/* História inicio */

#historia {
    min-height: 30rem;
}

#historia .imagens img {
    width: min-content;
    height: 8%;

}

#historia .imagens {
    width: 100%;
    height: 3000px;
    max-height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    gap: 20px;
    /* align-items: flex-end; */
    /* column-gap: 1.5vw; */
    z-index: -1;

    animation-iteration-count: infinite;
    animation-duration: 80s;
    animation-name: historiaMov;
    animation-timing-function: linear;
}

#historia .titulo {
    display: flex;
    text-align: left;
}

#historia .titulo .background {
    align-self: end;
}

#historia .imagens p {
    display: inline;
    
}

/* História Fim */

.mov {
    z-index: 3;
}

/* redessociais */
#redessociais {
    margin-top: 10%;
}

#redessociais p {
    text-align: justify;
    width: 100%;
    justify-self: center;
}

#redessociais .videos {
    display: flex;
    justify-content: center;
    padding-top: var(--dist-xl);
    flex-direction: column;
    align-items: center;
    z-index: 4;
    
}

#redessociais .videos h3 {
    text-align: center;
}

#movimentos .imagens{
    max-width: 80%;
    max-height: 600px;
}
#movimentos .imagens img{
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}


#movimentos .imagens img:nth-of-type(2) {
    width: 600px;
}

#movimentos .imagens img:nth-of-type(3) {
    width: fit-content;
}


#movimentos .imagens img:nth-of-type(4) {
    width: 400px;
    object-position: 40%;
}

/* Sociocultura inicio */

#sociocultura .main{
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.3fr 0.3fr 1fr;
    grid-template-rows: 50vh 30vh;
}

#sociocultura .main .imagens {
    grid-area: 4 / 6 / 1 / 3;
}

#sociocultura .main p:nth-of-type(1) {
    grid-area: 1/ 1 / 1/2;
    text-align: left;
    align-self: center;
}

#sociocultura .main p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1/3;
    text-align: left;
}

/* Sociocultura fim */

.AnBalatroShake {
    animation: balatroShake 0.7s 1 forwards;
}

.AnBalatroShakeError {
    animation: balatroShakeError 0.9s 1;
}

#dancar {
    animation-name: balatroShake;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    text-decoration: none;
    color: #4e00ad;
    font-weight: bolder;
}

@keyframes balatroShake  {
    0% {
        transform: rotate(0deg);
    /* font-size: 1rem; */
    }
    25% {
        transform:rotate(3deg);
        /* font-size: 1.2rem; */
    }
    50% {
        transform:rotate(-3deg);
    }
    100% {
        transform:rotate(0deg);
        /* font-size: 1rem; */
    }
}

@keyframes balatroShakeError  {
    0% {
        transform: rotate(0deg);
    /* font-size: 1rem; */
    }
    25% {
        transform:rotate(6deg);
        /* font-size: 1.2rem; */
    }
    50% {
        transform:rotate(-6deg);
    }
    100% {
        transform:rotate(0deg);
        /* font-size: 1rem; */
    }
}

@keyframes historiaMov {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1000px) {
    #historia .titulo {
        flex-direction: column;
    }


}

@media (max-width: 500px) {
    section {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8rem;
    }

    #sociocultura .main .imagens {
        display: none;
    }

    #sociocultura .main {
        display: flex;
        flex-wrap: wrap;
    }
}